@import '../assets/scss/main.scss';

.text {


  p {
    margin: 0px;
    width: 93%;
    font-size: 54px;
    color: white;
    letter-spacing: -1.08px;
    line-height: 1;
    font-family: 'ExtraBold Proxima Nova';
  }

  .description {
    display: inline-block;
    width: 95%;
    font-size: 22px;
    border-left: 3px solid #03a9f4;
    padding-left: 17px;
    letter-spacing: 0;
    line-height: 1.2;
    font-family: 'Proxima Nova';
    margin-top: 30px;
  }

}

.photos {

  position: relative;
  // margin-left: 100px;
  .cards,
  .background {
    //width: 100%;
    width: 100%;
    background-image: url(/images/image-solid.svg);
    background-size: cover;
    height: 100%;
    // width: 843px;
    // height: 487px;
    // margin-top: 45px;
  }

  .mocup,
  .photo {

    height: 100%;
    position: absolute;
    top: 0;
  }
}

.best_phone_part {
  background: transparent linear-gradient(93deg, #2488D8 0%, #46B8DE 100%) 0% 0% no-repeat padding-box;
  // padding: 96px 0 86px 0px;
  color: $white_background;

  //display: flex;
  //min-width: 1100px;
  //display: grid;
  //grid-template-columns: calc(100% - 780px) 780px;
  .best_inner {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: calc(100% - 780px) 780px;
  }

  .text {

    padding-left: 79px;

    h1 {
      color: $white_background;
    }

    .description {
      border-left: 3px solid $white_background;
    }

    .input {
      position: relative;
      width: fit-content;
      .chrome_logo_size{
          position: absolute;
          top: 94px;
          margin-right: 10px;
          width: 32px;
          height: 32px;
          left:8px;
      }

      input {
        margin-top: 64px;
        //min-width: 475px;
        width: 475px;
        height: 92px;
        border: 1px solid $grey_border;
        border-radius: 8px;
        padding: 0 0px 0 50px;
        color: $dark_grey;
        font-family: 'SemiBold Proxima Nova';
        font-size: 18px;
        color: #242b2e;

        &::placeholder {
          color: #C3C3C3;
        }

      }

      .button_try_now {
        font-family: 'SemiBold Proxima Nova';
        font-size: 18px;
        border: none;

      }



      .for_example {
        margin-top: 14px;
        font-size: $fnt14;
        //font-family: lighter;
        //font-family: "ProximaNova-Regular", Regular;
        font-family: 'Proxima Nova';

        span {
          color: $transparent_white_text;
        }
      }
    }
  }

}

@media (max-width: 507px) {
  .input {
    display: flex;
    flex-direction: column;
    width: 100% !important;

    input {
      margin-top: 64px;
      max-width: 100% !important;
      //min-width: 475px;
      //width: 475px;
      height: 92px;
      border: 1px solid $grey_border;
      border-radius: 8px;
      padding: 0 28px 0 28px !important;
      color: $dark_grey;

    }

    .button_try_now {
      width: 100%;
      height: 84px;
      background: $blue_color;
      box-shadow: 0px 3px 6px $grey_shadow;
      border-radius: 6px;
      opacity: 1;
      cursor: pointer;
      font-size: $fnt18;
      top: 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 16px;
      margin-top: 38px;
      

    }

    .for_example {
      margin-top: 14px;
      font-size: $fnt14;
      font-family: lighter;
      font-family: "ProximaNova-Regular", Regular;

      span {
        color: $transparent_white_text;
      }
    }
  }
}

@media (max-width: 425px) {
  .text {
    padding: 0 20px !important;

    h1 {
      font-size: 46px;
    }
  }

  .photos {
    overflow-x: hidden;
  }

}

@media (max-width: 1339px) {
  .best_phone_part {
    // background: transparent linear-gradient(251deg, #28469D 0%, #6C4FA6 100%);
    background: transparent linear-gradient(93deg, #2488D8 0%, #46B8DE 100%) 0% 0% no-repeat padding-box;

    // padding: 96px 0 86px 0px;
    color: $white_background;

    //display: flex;
    //min-width: 1100px;
    //display: grid;
    //grid-template-columns: calc(100% - 780px) 780px;
    .best_inner {
      //max-width: 1440px;
      max-width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 50% 50%;

    }
  

    .text {
      padding-left: 79px;
      //width: 100%;

      h1 {
        color: $white_background;
      }

      .description {
        border-left: 3px solid $white_background;
      }

    }

  }

  .back_apple{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    padding-left: 0px;
    padding-right: 70px;
  
 .image_size{
       
     width: 603px;
     height: 430px;

 }

}
}

@media (max-width: 1024px) {
  .best_phone_part {   
    // background: transparent linear-gradient(251deg, #28469D 0%, #6C4FA6 100%);
    background: transparent linear-gradient(93deg, #53D1EF 0%, #1976D2 100%) 0% 0% no-repeat padding-box;

    // padding: 96px 0 86px 0px;
    color: $white_background;

    //display: flex;
    //min-width: 1100px;
    //display: grid;
    //grid-template-columns: calc(100% - 780px) 780px;
    .best_inner {
      //max-width: 1440px;
      max-width: 100%;
      margin: auto;
      display: grid;
      //grid-template-columns: calc(100% - 780px) 780px;
      grid-template-columns: 100%;
      grid-template-rows: auto 500px;

    }

    .text {
      padding: 0 79px;
      //width: 100%;

      h1 {
        color: $white_background;
      }

      .description {
        border-left: 3px solid $white_background;
      }


    }

  }

  .back_apple{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    padding-left: 0px;
    padding-right: 70px;
  
 .image_size{
       
     width: 603px;
     height: 430px;

 }

}
}

@media (max-width: 566px) {
  .text {
    h1 {
      font-size: 46px;
    }
  }

}


@media (min-width: 508px) {
  .input {
    position: relative;
    width: fit-content;
 

    input {
      margin-top: 64px;
      max-width: 475px;
      //min-width: 475px;
      //width: 475px;
      height: 92px;
      border: 1px solid $grey_border;
      border-radius: 8px;
      padding: 0 200px 0 28px;
      color: $dark_grey;

    }

    .button_try_now {
      width: 172px;
      height: 84px;
      background: $blue_color;
      box-shadow: 0px 3px 6px $grey_shadow;
      border-radius: 6px;
      opacity: 1;
      cursor: pointer;
      position: absolute;
      font-size: $fnt18;
      top: 69px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 5px;
      //margin-top: 38px;

    }

    .for_example {
      margin-top: 14px;
      font-size: $fnt14;
      font-family: lighter;
      font-family: "ProximaNova-Regular", Regular;

      span {
        color: $transparent_white_text;
      }
    }
  }
}

@media (max-width: 425px) {
  .best_phone_part {
    // padding: 48px 0 86px 0px !important;
  }

  .description {
    font-size: 18px !important;
  }
}

.intro_part{
  padding-top: 135px;
}

.button{
  width: 100px;
  height: 100px;
 background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  position: absolute;

  .tri_button{
    content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -5px;
  border-left: 19px solid #000;
  border-top: 15px solid transparent;
  border-bottom: 16px solid transparent;
  transition: border-color 300ms;
  border-radius: 7px;
  }
}

.back_apple{
    
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 133px;
     padding-left: 100px;
     padding-right: 0px;
   
  .image_size{
        
      width: 603px;
      height: 430px;

  }

}
.video_palyer_part {
  border-radius: 13px;
  overflow: hidden;
  .video-react-poster {
    background-size: 101%!important;
  }
}
.video_play1 {
  border: none!important;
  width: 100px!important;
  height: 100px!important;
  border-radius: 50%!important;
  display: flex;
  align-items: center!important;
  justify-content: center!important;
  transform: translateY(-40%);
  background: white!important;

  &::before{
    color: rgba(36, 43, 46, 1);
    opacity: 1;
    font-size: 45px;
    transform: translate(2px, 27px);
  }
  
}
.video_play1::before {
  
}